.toggle-button, #creationButton {
    -fx-background-color:#383838;
    -fx-font-size:15;
    -fx-font-weight: bold;
    -fx-border-width: 0 0 0 0;
    -font-family: 'JetBrains Mono', monospace;
       -fx-text-fill:white;
}
/* selected, but not hovered over */
.toggle-button:selected, #addButton:selected{
    -fx-background-color:#333333;
 
    /* hovered over but not selected */
}
.toggle-button:hover, #creationButton:hover,
#addButton:hover{
    -fx-background-color:#4D4D4D;

/* hovered over and selected */
}
.toggle-button:hover:selected,
#addButton:hover:selected{
    -fx-background-color:#777777;
}
#gridPane{
    -fx-background-color:#383838;
}
#stackPane{

    -fx-background-color:#808080;
}
#flowPane, #scrollPane{
    -fx-background-color:#121212;
    -fx-text-fill:black;

}
#flowPane .collectionGrid{
    -fx-font-size:15;
    -fx-font-weight: bold;
    -fx-text-fill:black;
    -fx-border-color: black

}

#collectionNameLabel, #collectedNumber, #addButton{
    -font-family: 'JetBrains Mono', monospace;
    -fx-font-size:30;
    -fx-font-weight: bold;
    -fx-text-fill:black;
}
#addButton{
-fx-font-size:12;
-font-family: 'JetBrains Mono', monospace;
-fx-background-color:#A9A9A9;
}



