.toggle-button,
#creationButton {
    -fx-background-color: #383838;
    -fx-font-size: 15;
    -fx-font-weight: bold;
    -fx-border-width: 0 0 0 0;
    -font-family: 'JetBrains Mono', monospace;
    -fx-text-fill: white;
}

/* selected, but not hovered over */
.toggle-button:selected,
#addButton:selected {
    -fx-background-color: #333333;

    /* hovered over, but not selected */
}

.toggle-button:hover,
#creationButton:hover,
#addButton:hover {
    -fx-background-color: #4D4D4D;

    /* hovered over and selected */
}

.toggle-button:hover:selected {
    -fx-background-color: #777777;
}

#gridPane {
    -fx-background-color: #383838;
    -fx-border-width: 0 2 0 0;
    -fx-border-color: #959595;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0.5, 0), 15, 15.0, 0, 5);

}
#menuButton{
-fx-background-color: transparent;
}

#stackPane {
    -fx-background-color: #383838;
}

#flowPane {
    -fx-background-color: #121212;
}

#flowPane,
#scrollPane {
    -fx-text-fill: white;
    -fx-border-width: 0;
}

#scrollPane {
    -fx-background-color: transparent;
    -fx-background: transparent;
    -fx-border-width: 0;
    -fx-padding: 0;
}

#flowPane .collectionGrid {
    -fx-font-size: 15;
    -fx-text-fill: white;
    -fx-border-color: #2B2B2B;
}

#collectionNameLabel,
#collectedNumber {
    -font-family: 'JetBrains Mono', monospace;
    -fx-font-size: 30;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-effect: dropshadow( gaussian , black , 3 , 0.5 , 0 , 0 );
}
#collectionNameLabel{
-fx-padding: 0 0 0 7px;
}
#collectedNumber{
-fx-padding:0 7 0 0 px;
}
#addButton {
    -fx-font-size: 12;
    -font-family: 'JetBrains Mono', monospace;
    -fx-background-color: #383838;
    -fx-text-fill: white;
}

#addButton:hover:selected {}

.dialog-pane {
    -fx-background-color: #383838;
}

.dialog-pane .label {
    -fx-text-fill: white;
    -fx-font-size: 14;

}

.dialog-pane .button {
    -fx-background-color: #333333;
    -fx-text-fill: white;
}

.dialog-pane .text-field {
    -fx-background-color: #333333;
    -fx-text-fill: white;

}

.dialog-pane .button:hover {
    -fx-background-color: #454545;
}
.alert:header *.header-panel {
    -fx-background-color: #383838;
}

.alert {
    -fx-background-color: #121212;
    -fx-text-fill: white;
}

.itemName {
    -fx-font-weight: bold;
}
.context-menu{
-fx-background-color: #2C2C2C;

}
.menu-item .label{
-fx-text-fill: white;
}
.itemId {
    -fx-font-size: 12;
    -fx-padding: 0 0 0 7px;
}

.itemBox .box {
    -fx-background-radius: 7px;
    -fx-pref-width: 13px;
    -fx-pref-height: 13px;
}

.itemBox .box {
    -fx-background-color: #383838;
}

.itemBox:selected .box {
    -fx-background-color: #68FF81;
}

.itemBox:selected .mark {
    -fx-background-color: transparent;
}

.scroll-bar:vertical .track {
    -fx-background-color: #171717;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: #959595;
}

.scroll-bar:vertical {
    -fx-background-color: #171717;
    -fx-background-insets: 0, 0, 0, 2;
}

.scroll-pane>.scroll-bar:vertical>.increment-button,
.scroll-pane>.scroll-bar:vertical>.decrement-button {
    -fx-padding: 0 0 0 0;
}

.scroll-bar>.increment-button,
.scroll-bar>.decrement-button {
    -fx-padding: 0 0 0 0;
}

.scroll-bar:vertical>.increment-button,
.scroll-bar:vertical>.decrement-button {
    -fx-background-insets: 0 0 0 0, 0 0 0 0, 0 0 0 0;
}

.scroll-bar:vertical>.decrement-button>.decrement-arrow {
    -fx-padding: 0 0 0 0;
}

.scroll-bar:vertical>.increment-button>.increment-arrow {
    -fx-padding: 0 0 0 0;
}